<div>
    <button class="btn btn-primary me-3"  (click)="getError400()">Test 400 badrequest</button>
    <button class="btn btn-primary me-3"  (click)="getError401()">Test 401 auth</button>
    <button class="btn btn-primary me-3"  (click)="getError404()"  >Test 404 notfound</button>
    <button class="btn btn-primary me-3"  (click)="getError500()" >Test 500 server Error</button>
    <button class="btn btn-primary me-3"  (click)="getValidationError400()">Test validation 400 Error</button>
</div>
